body {
  margin: 0;
  padding: 0;
}

.landing-page main {
  margin-top: 60px;
}
.wrapper,
.feat,
.validate,
.product,
.marketers,
.super {
  margin-bottom: 5em;
}
section.wrapper {
  margin-top: 25px;
}
main .landing .row .image {
  background: url("../works/Oval.png") no-repeat center center;
}
main .landing .row .image::after {
  content: url("../works/image.png");
  position: relative;
  left: 30px;
}
.icon-bg {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.headline,
.validation-headline,
.product-headline,
.marketers-headline {
  margin-top: 98px;
}
.headline p {
  margin: 36px 0 50px 0;
}
.card {
  background: transparent;
  height: 204px;
  width: 17rem;
  border: none;
}
.features-header {
  margin-bottom: 5em;
}
.features .row .col-sm-3:nth-of-type(1) .card .card-body .icon-bg {
  background: #7752be;
}
.features .row .col-sm-3:nth-of-type(2) .card .card-body .icon-bg {
  background: #fab005;
}
.features .row .col-sm-3:nth-of-type(3) .card .card-body .icon-bg {
  background: #f03e3d;
}
.features .row .col-sm-3:nth-of-type(4) .card .card-body .icon-bg {
  background: #4dadf7;
}

.card-wrap {
  background: url("../works/Bg.png") no-repeat center center;
}
.super-hero {
  background: url("../works/OvalTwo.png") no-repeat center center;
  padding-top: 260px;
}

.super-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-container {
  margin-top: 4em;
  margin-bottom: 5.4em;
}
.marketing  {
  height: 561px;
}
